body {
    background-color: transparent;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
     background-size: cover;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .form {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
  }
  
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"] {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .form button {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    outline: none;
    background-color: #2196F3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
    background-color: #1976D2;
  }
  
  .form h2 {
    color: #333333;
    font-size: 28px;
    margin: 0 0 30px;
  }
  
  .form p.message {
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .form p.message a {
    color: #2196F3;
    text-decoration: none;
  }
  
  .form p.message a:hover {
    text-decoration: underline;
  }
  
  
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  right: 10px; /* Center the snackbar */
  top: 20px; /* 30px from the bottom */
}

.green{
  background-color: green; 
}

.red{
  background-color: red; 
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

#phone_num, #aadhar_num {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 15px;
  padding: 10px;
}